{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>
<h2>Your Weekly Rota</h2>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Shift Type</th>
        </tr>
    </thead>
    <tbody>
        {% for rota in rotas %}
        <tr>
            <td>{{ rota.date }}</td>
            <td>{{ rota.day }}</td> <!-- Automatically computed day -->
            <td>{{ rota.shift_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
