{% extends 'base.html' %}

{% block title %}Manage Rota{% endblock title %}

{% block content %}
<h2 class="mb-4">Manage Rota</h2>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Staff</th>
            <th>Day</th>
            <th>Date</th>
            <th>Shift Type</th>
        </tr>
    </thead>
    <tbody>
        {% for rota in rotas %}
        <tr>
            <td>{{ rota.user.username }}</td>
            <td>{{ rota.day }}</td>
            <td>{{ rota.date }}</td>
            <td>{{ rota.shift_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="user_id" class="form-label">Staff</label>
        <select name="user_id" id="user_id" class="form-select">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" name="date" id="date" class="form-control">
    </div>
    <div class="mb-3">
        <label for="shift_type" class="form-label">Shift Type</label>
        <select name="shift_type" id="shift_type" class="form-select">
            <option value="Long Day">Long Day</option>
            <option value="Early">Early</option>
            <option value="Late">Late</option>
            <option value="Night">Night</option>
            <option value="Custom">Custom</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Add Rota</button>
</form>
{% endblock content %}
