{% extends 'base.html' %}

{% block title %}Manage Rota{% endblock title %}

{% block content %}
<h2 class="mb-4">Manage Rota</h2>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Staff</th>
            <th>Day</th>
            <th>Shift Type</th>
        </tr>
    </thead>
    <tbody>
        {% for rota in rotas %}
        <tr>
            <td>{{ rota.user.username }}</td>
            <td>{{ rota.day }}</td>
            <td>{{ rota.shift_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
