{% extends 'rota/base.html' %}
{% block title %}My Dashboard{% endblock %}

{% block content %}
{% if staff_message %}
<div class="alert alert-success" role="alert">
    {{ staff_message }}
</div>
{% endif %}
<div class="container">
    <h2>My Shifts</h2>
    {% if shifts %}
        <ul class="list-group">
            {% for shift in shifts %}
                <li class="list-group-item">
                    {{ shift.date|date:"l, d M Y" }} - {{ shift.shift_type }}
                    {% if shift.start_time and shift.end_time %}
                        ({{ shift.start_time }} - {{ shift.end_time }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming shifts assigned.</p>
    {% endif %}
    <div class="mt-4">
        <a href="{% url 'request_day_off' %}" class="btn btn-primary mt-3">Request Day Off</a>
        <a href="{% url 'completed_shifts' %}" class="btn btn-primary mt-3">View Completed Shifts</a>

    </div>
</div>
{% endblock %}
