{% extends 'rota/base.html' %}
{% load static %}

{% block content %}
<div class="table-responsive container mt-5">
    <h2>Welcome to Your Dashboard</h2>

    <!-- Display Request Messages -->
    {% if request_message %}
        <div class="alert alert-info" role="alert">
            {{ request_message }}
        </div>
    {% endif %}

    <!-- Shifts -->
    <h3>Your Upcoming Shifts</h3>
    {% if shifts %}
        <table class="table table-bordered">
            <thead class="custom-dark-blue text-white">
                <tr>
                    <th>Date</th>
                    <th>Shift Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for shift in shifts %}
                    <tr>
                        <td>{{ shift.date }}</td>
                        <td>{{ shift.shift_type }}</td>
                        <td>{{ shift.start_time|default:"-" }}</td>
                        <td>{{ shift.end_time|default:"-" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mb-4">
            <a href="{% url 'request_day_off' %}" class="btn btn-primary mt-3">Request Day Off</a>
            <a href="{% url 'completed_shifts' %}" class="btn btn-primary mt-3">View Completed Shifts</a>

        </div>
    {% else %}
        <p>No shifts available.</p>
    {% endif %}
</div>
{% endblock %}
