{% extends 'rota/base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Your Profile</h2>

    <table class="table table-bordered mt-4">
        <tr>
            <th>Full Name</th>
            <td>{{ profile.full_name }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ profile.user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ profile.user.email }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ profile.address }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ profile.phone_number }}</td>
        </tr>
    </table>
    <div>
        <a href="{% url 'change_password' %}" class="btn btn-warning mt-3">Change Password</a>

    </div>
</div>
{% endblock %}
