{% extends 'rota/base.html' %}
{% load rota_filters %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Weekly Rota</h2>

    {% for week in weeks %}
    <h3 class="mt-4">
        Week Commencing: {{ week.start_of_week|date:"D, M d" }} - {{ week.end_of_week|date:"D, M d" }}
    </h3>
    <table class="table table-bordered">
        <thead class="custom-dark-blue text-white">
            <tr>
                <th>Staff Name/Username</th>
                {% for date in week.week_dates %}
                <th>{{ date|date:"D, M d" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data in rota_data %}
            <tr>
                <td>{{ data.user.get_full_name|default:data.user.username }}</td>
                {% for date in week.week_dates %}
                <td class="{% if data.shifts|get_item:date and data.shifts|get_item:date.shift_type == 'Sickness/Absence' %}sickness-absence{% endif %}">
                    {% with data.shifts|get_item:date as shift %}
                        {% if shift %}
                            {{ shift.shift_type }}
                            <br>
                            <small>{{ shift.start_time|default:"-" }} - {{ shift.end_time|default:"-" }}</small>
                        {% else %}
                            
                        {% endif %}
                    {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}
