{% extends 'rota/base.html' %}

{% block title %}Weekly Rota{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Weekly Rota</h2>
    <p class="text-center">Week Commencing: {{ start_of_week }} to {{ end_of_week }}</p>

    <table class="table table-bordered table-striped mt-4">
        <thead class="table-dark">
            <tr>
                <th>Staff Name</th>
                {% for day in week_dates %}
                    <th>{{ day|date:"l, M d" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for rota in rota_by_staff %}
                <tr>
                    <td>{{ rota.user.get_full_name }}</td>
                    {% for day in week_dates %}
                        <td>
                            {% if rota.date == day %}
                                {{ rota.shift_type }}<br>
                                {{ rota.start_time }} - {{ rota.end_time }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
