{% extends 'rota/base.html' %}
{% load rota_filters %}

{% block title %}Weekly Rotas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Weekly Rotas</h2>
    
    {% for week_data in rotas_by_week %}
        <h3 class="mt-4">Week Commencing: {{ week_data.start_of_week|date:"l, M d" }} - {{ week_data.end_of_week|date:"l, M d" }}</h3>
        <table class="table table-bordered table-striped">
            <thead class="custom-dark-blue text-white">
                <tr>
                    <th>Staff Name</th>
                    {% for day in week_data.week_dates %}
                        <th>{{ day|date:"l, M d" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for staff_data in week_data.rota_by_staff %}
                    <tr>
                        <td>
                            {{ staff_data.user.get_full_name|default:staff_data.user.username }}
                        </td>
                        {% for day in week_data.week_dates %}
                            <td>
                                {% with shift=staff_data.shifts|get_item:day %}
                                    {% if shift %}
                                        {{ shift.start_time|date:"H:i" }} - {{ shift.end_time|date:"H:i" }}
                                    {% else %}
                                        <!-- Leave blank -->
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}
